body {
	padding-top: 70px;
}

/* ProgressBar */
#progressBar { border:solid 2px #86a5ad; background:#FFF url(../images/progressBar/progressBar_m.gif) no-repeat 10px 10px;}
#progressBar { display:block; width:220px; position:fixed; top:50%; left:50%; margin-left:-110px; margin-top:-14px; padding:10px 10px 10px 50px; text-align:left; line-height:27px; font-weight:bold; position:absolute; z-index:2001;}
#background { display:block; width:100%; height:100%; opacity:0.5; filter:alpha(opacity=50); background:#FFF; position:absolute; top:0; left:0; z-index:2000;}

form.required-validate {margin-top: 10px}
form span.error {color:red}
table.table > tbody > tr.selected >td {background-color:#7cc5e5;}