<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<!-- set character encoding spring -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>*.jhtml</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>*.jhtml</url-pattern>
	</filter-mapping>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		classpath*:core-application-context.xml,
		classpath*:META-INF/*-application-context-module.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>weixinListeners</param-name>
		<param-value>cn.com.innodev.pdp.weixin.webapp.listener.WeixinLogListener,cn.com.innodev.pdp.weixin.webapp.listener.BizListener</param-value>
	</context-param>
	<!-- dispatcher servlet -->
	<servlet>
		<servlet-name>spring-dispatcher-servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath*:weixin-web-application-context.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring-dispatcher-servlet</servlet-name>
		<url-pattern>*.jhtml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PDPWeixinProcessorServlet</servlet-name>
		<servlet-class>cn.com.innodev.pdp.weixin.webapp.PDPWeixinProcessorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PDPWeixinProcessorServlet</servlet-name>
		<url-pattern>/weixinprocess/*</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<!-- Spring context loader listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- weixin listener -->
	<listener>
		<listener-class>com.vanstone.weixin.client.controller.context.WeixinListenerContext</listener-class>
	</listener>
	<listener>
		<listener-class>cn.com.innodev.pdp.business.sdk.commmon.PDPContextListener</listener-class>
	</listener>
	
	<!-- welcome -->
	<welcome-file-list>
		<welcome-file>index.jhtml</welcome-file>
	</welcome-file-list>
</web-app>
