<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.innodev.pdp.admin.persistence.AuthAdminDOMapper">
	<resultMap id="BaseResultMap"
		type="cn.com.innodev.pdp.admin.persistence.object.AuthAdminDO">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="ADMIN_NAME" property="adminName" jdbcType="VARCHAR" />
		<result column="ADMIN_PWD" property="adminPwd" jdbcType="VARCHAR" />
		<result column="LAST_LOGIN_TIME" property="lastLoginTime"
			jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, ADMIN_NAME, ADMIN_PWD, LAST_LOGIN_TIME
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from auth_admin
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from auth_admin
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="cn.com.innodev.pdp.admin.persistence.object.AuthAdminDO">
		insert into auth_admin (ID, ADMIN_NAME, ADMIN_PWD,
		LAST_LOGIN_TIME)
		values (#{id,jdbcType=VARCHAR}, #{adminName,jdbcType=VARCHAR},
		#{adminPwd,jdbcType=VARCHAR},
		#{lastLoginTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective"
		parameterType="cn.com.innodev.pdp.admin.persistence.object.AuthAdminDO">
		insert into auth_admin
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="adminName != null">
				ADMIN_NAME,
			</if>
			<if test="adminPwd != null">
				ADMIN_PWD,
			</if>
			<if test="lastLoginTime != null">
				LAST_LOGIN_TIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="adminName != null">
				#{adminName,jdbcType=VARCHAR},
			</if>
			<if test="adminPwd != null">
				#{adminPwd,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginTime != null">
				#{lastLoginTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="cn.com.innodev.pdp.admin.persistence.object.AuthAdminDO">
		update auth_admin
		<set>
			<if test="adminName != null">
				ADMIN_NAME = #{adminName,jdbcType=VARCHAR},
			</if>
			<if test="adminPwd != null">
				ADMIN_PWD = #{adminPwd,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginTime != null">
				LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="cn.com.innodev.pdp.admin.persistence.object.AuthAdminDO">
		update auth_admin
		set ADMIN_NAME = #{adminName,jdbcType=VARCHAR},
		ADMIN_PWD = #{adminPwd,jdbcType=VARCHAR},
		LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<select id="selectByAdminName" parameterType="map" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM 
		auth_admin 
		WHERE 
		ADMIN_NAME = #{adminName,jdbcType=VARCHAR}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM 
		auth_admin
	</select>
	<select id="selectAllTotal" resultType="integer">
		SELECT COUNT(0) AS C FROM 
		auth_admin
	</select>
</mapper>